<ng-container *ngIf="!isReady">
  <mat-spinner style="margin-left: 50%"></mat-spinner>
</ng-container>

<ng-container *ngIf="isReady">

  <img [src]="captureSrc" width="100%" style="position: fixed">

  <div style="height: 1px"></div>
  <div style="margin: 100px 120px;  height: 1000px; padding: 40px">

    <h1> Project List</h1>


    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef> Project Name</th>
          <td [routerLink]="['/projects', element.id]" mat-cell *matCellDef="let element"
              style="width: 1200px; color: royalblue"> {{element.projectTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon aria-hidden="false" (click)="deleteProject(element.id)">clear</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <button class="sectorButton" mat-button routerLink="/projects/-1">ADD</button>

    </div>
  </div>

</ng-container>
