 <h1 mat-dialog-title style="position: absolute">Add Project selected</h1>

  <button mat-button mat-dialog-close="true" style="margin-left: 300px">
    <mat-icon aria-hidden="false">close</mat-icon>
  </button>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>County</mat-label>
      <mat-select (valueChange)="getDistrictByParentId($event)"  [(ngModel)]="selected.countyId" required>
        <mat-option *ngFor="let county of counties" [value]="county.id">
          {{county.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-label>District</mat-label>
      <mat-select  [(ngModel)]="selected.districtId" required>
        <!--      <mat-select formControlName="district">-->
        <mat-option *ngFor="let district of districts" [value]="district.id">
          {{district.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field  type="number">
    <mat-label>%</mat-label>
    <input matInput [(ngModel)]="selected.percent" required>
  </mat-form-field>


  <div mat-dialog-actions>

    <p *ngIf="locationInvalid" style="color: red" class="alert alert-danger">location avelacnelu hamar lracreq bolor partadir dashtery. durs galu hamar sexmeq X</p>

    <p *ngIf="percentIncorrect" style="color: red" class="alert alert-danger">tokosneri gumary petq e lini tiv (0:{{100 - percentSum}}] mijakayqic</p>

    <button mat-button class="sectorButton"  cdkFocusInitial (click)="locationAdd()">Add</button>
    <!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
  </div>
<!--</form>-->
